<div class="container" id="content">

</div>

<script type="text/javascript">
  $(document).ready(function(){
    window.CURRENT_USER = {
      id: <%= current_user.id %>,
      username: "<%= current_user.username %>"
    }

    Slick.initialize();
  });
</script>
