<div class="container" id="content">

</div>

<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>
  window.pusher = new Pusher('<%= Pusher.key %>', {
    authEndpoint: 'api/pusher/auth'
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    window.CURRENT_USER = {
      id: <%= current_user.id %>,
      username: "<%= current_user.username %>"
    }

    Slick.initialize();
  });
</script>
