<div class="profile-img">
    <img src="<%= user.escape('profile_img_url') %>" alt="" />
</div>

<div class="message-body">
  <div class="message-username">
    <%= user.escape('username') %>
  </div>
  <p class="content"><%= message.escape('content') %></p>
</div>
