<div class="menu">
  <header>
    <span class="menu-header">You</span>
  </header>

  <div class="menu-options">
    <div id="change-profile-img" class="menu-item">
      Change profile image
    </div>
    <div id="logout" class="menu-item">
      Log out
    </div>
  </div>
</div>
