<div class="modal-form">
  <header>
    <h2>Create a channel</h2>
  </header>

  <p>This will create a public channel that anyone in the group can join.</p>

  <form method="post">
    <div class="input-section">
      <div "input-field">
        <input class="model-input" id="conversation-title" type="text"
          name="conversation[title]" value="" placeholder="Channel name">
      </div>
    </div>

    <div class="form-footer">
      <button type="submit" class="submit create-account-button"
        name="create channel">Create Channel</button>
    </div>
  </form>
</div>
