<div class="modal-content">
  <header class="modal-header">
    <button class="close">&times;</button>
    <span class="">

      <h3 class="">Create a channel</h3>
    </span>
  </header>

  <p>This will create a new public channel that anyone in the group can join.</p>

  <form method="post">
    <div class="">
      <label for="conversation-title">Name</label>
      <input id="conversation-title" type="text" name="conversation[title]" value="">
    </div>

    <button type="button" class="cancel" name="cancel">Cancel</button>
    <button type="submit" class="submit" name="create channel">Create Channel</button>
  </form>
</div>
