<div class="members-count">CHANNELS</div>
<div id="channels-list"></div>
<div id="channel-create" class="create">Create a channel...</div>
<div id="group-index" class="channel-create create">Groups Index</div>
