<div class="modal-form">
  <header>
    <button class="close" type="button" name="close">&times</button>
    <h3>Create a group</h3>
  </header>

  <p>This will create a new public group</p>

  <form method="post">
    <label for="group-name">Name</label>
    <input id="group-name" type="text" name="group[name]" value="">

    <label for="group-description">Description</label>
    <input id="group-description" type="text" name="group[description]" value="">


    <button type="button" class="cancel" name="cancel">Cancel</button>
    <button type="submit" class="submit" name="create channel">Create Group</button>
  </form>
</div>
