<div class="groups-nav collapsed width-transition">
  <header class="landing-header">
    <a class="logo" href="/">
      <div class="logo">slick</div>
    </a>
    <div class="button-container">
      <p class="have-account">Don't see your organization?</p>
      <button type="button" class="create sign-in">Create a group</button>
    </div>
  </header>

  <div class="text-center group-title">Join a Group</div>
  <div class="groups-container">
    <div class="scroll-container">
      <div id="group-items">
      </div>
    </div>
  </div>
</div>

<div id="mock-group">
</div>

<div id="modal-holder">
</div>
