<div id="nav-left">
  <header id="group-header">-</header>
  <div id="menu" > </div>

  <div id="group-index" class="left-nav-item nav-left">BACK TO GROUPS</div>
  <div id="logout" class="nav-left left-nav-item">LOGOUT</div>
  <div class="nav-scrollable">
    <div class="scroll-container">
      <div class="nav-scroll-area">
        <div id="nav-channels">-</div>
        <div id="nav-members">-</div>
      </div>
    </div>
  </div>
</div>

<div id="channel">-</div>

<div id="context-nav">-</div>
