/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic);

 *{
   -webkit-font-smoothing: antialiased;
   font-family: 'Lato', 'sans-serif';
   font-color:  #555459;;
 }

 html, body {
   overflow: hidden;
   position: fixed;
   margin: 0 auto;
   height: 100%;
   width: 100%
 }


#channel {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  flex-grow: 1;
}
;
#context-nav {
  width: 5px;
  height: 100%;
  transition: width 0.7s ease;
}

#context-nav.active {
  width: 400px;
}

#content {
  height: 100%;
  width: 100%;
}

#nav-left {
  position: relative;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 220px;
  color: rgb(171, 155, 169);
  background-color: rgb(77, 57, 75);

}

.group-main {
  position: relative;

  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;

  height: 100VH;
  width: 100%;
}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}


.text-center {
  text-align: center;
}
