.channel-create:hover {
  color: white;
  cursor: pointer;
}

.channel-create {
  font-weight: 100;
}

.channels-index {
  padding-top: 40px;
}

.current-user {
  height: 25px;
  font-size: .875rem;
  font-weight: 300;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px;
}

div.group-header {
  display: block;
  height: 70px;
}

.group-index {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.group-name {
  padding-top: 1rem;
  font-size: 1.125rem;
  font-weight: 900;
  color: white;
}

.group-header:hover .current-user {
  color: white !important;
}

#group-index {
  font-weight: bold;
}

.groups-nav {
  width: 300px;
  background-color: #433041;
  color: #FEE5FB;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
}

.left-nav-item {
  width: 180px;
  height: 25px;
  font-size: 1rem;
  font-weight: 300;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px;
}

.left-nav-item:hover, div.group-header:hover {
  background: #3e313c;
  border-bottom-color: #3e313c;
  cursor: pointer;
}

.logout {
  font-weight: bold;
}

#mock-group {
  flex: 1;
  display: inline-block;
}

#modal-holder {
  flex: none;
}

.members-count {
  font-size: 0.8rem;
  font-weight: bold;
  height: 25px;
  width: 180px;
}

#nav-members {
  padding-top: 40px;
}

.nav-left {
  padding-left: 15px;
}


.nav-scrollable {
  position: relative;
  flex: 1;
}

.nav-scroll-area {
  position: absolute;
}

.scroll-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
