.channel-create:hover {
  color: white;
  cursor: pointer;
}

.channel-create {
  font-weight: 100;
}

.channels-index {
  padding-top: 40px;
}

.current-user {
  height: 25px;
  font-size: .875rem;
  font-weight: 300;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px;
}

div.group-header {
  display: block;
  height: 70px;
}

.group-index {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.group-name {
  padding-top: 1rem;
  font-size: 1.125rem;
  font-weight: 900;
  color: white;
}

.group-header:hover .current-user {
  color: white !important;
}

#group-index {
  font-weight: bold;
}

.group-index-header {
  position: relative;
  margin: 0 auto;
}

.group-item {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 15;
  cursor: pointer;
}

#group-items {
  position: absolute;
  overflow-y: scroll;
  padding-left: 100px;
  max-width: 600px;
}

.groups-container {
  width: 80%;
  margin-bottom: 100px;
  flex: 1;
}

#group-items .group-item:not(:last-child) {
  border-bottom: 1px solid white;
}
.group-item-description {
  color: #433041;
  font-size: .8rem;
  display: inline-block;
  position: relative;
  z-index: 2;
  background-color: #FEE5FB;
  top: 0;
  left: 0;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
}

.group-item:hover {
  background-color: #40A397;
}

.group-title {
  position: relative;
  font-size: 2rem;
  padding: 1rem;
  margin: 0 auto;
}

.collapsed {
  width: 1px !important;
  z-index: -1 !important;
}
.groups-nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #433041;
  color: #FEE5FB;
  // white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  transition: width 1s;
}

.left-nav-item {
  width: 180px;
  height: 25px;
  font-size: 1rem;
  font-weight: 300;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px;
}

.left-nav-item:hover, div.group-header:hover {
  background: #3e313c;
  border-bottom-color: #3e313c;
  cursor: pointer;
}

.logout {
  font-weight: bold;
}

#mock-group {
  flex: 1;
  display: inline-block;
}

#modal-holder {
  flex: none;
}

.members-count {
  font-size: 0.8rem;
  font-weight: bold;
  height: 25px;
  width: 180px;
}

#nav-members {
  padding-top: 40px;
}

.nav-left {
  padding-left: 15px;
}


.nav-scrollable {
  position: relative;
  flex: 1;
}

.nav-scroll-area {
  position: absolute;
}

.scroll-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
