.content {
  width: 100%;
  font-size: 15px;
  line-height: 22px;
  word-wrap: break-word;
  margin-bottom: 15px;
}


.is-typing {
  display: block;
  position: absolute;
  left: 62px;
  bottom: 10px;
  font-size: .7em;
}

#messages-container {
  position: absolute;
  left: 25px;
  right: 90px;
}

.message-body {
  margin-left: 75px;
}

.messages-index {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.message-item {
  width: 100%;
}

.message-username {
  font-weight: 700;
}

.pending {
  font-weight: 100 !important;
}

.profile-img {
  position: absolute;
  display: inline-block;
  content: "";
  float: left;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.profile-img:after {
  content: "";
  display: table;
}

.timestamp {
  font-size: .75rem;
  color: "#C0C0C0";
}
