.messages-index {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.profile-img {
  position: absolute;
  display: inline-block;
  content: "";
  float: left;
  // margin-left: 25px;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.profile-img:after {
  content: "";
  display: table;
}

.message-username {
  font-weight: 700;
}

.content {
  width: 100%;
  word-wrap: break-word;
}

.message-body {
  margin-left: 75px;
  width: 100%;
}

.message-item {
  width: 100%;
}

.pending {
  font-weight: 100 !important;
}

#messages-container {
  position: absolute;
  left: 25px;
  right: 90px;
}
