// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


.background-image {
  position: fixed;
  z-index: -10000;
  width: 100%;
  height: 100%;
  background-image: url('http://res.cloudinary.com/slickapp-io/image/upload/c_scale,w_300/v1434756670/sjgwab8nfueznh3mjshi.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
}


.landing-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-size: 24px;
  margin: 0 auto;
  font-weight: 600;
  padding-bottom: 300px;
  background-color: rgba(0,0,0, .3);
}

.pitch {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
}

.pitch-context {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  text-shadow: rgba(0, 0, 0, 0.9) 3px 3px 10px;
}

.pitch-sub {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  text-shadow: rgba(0, 0, 0, 0.9) 3px 3px 10px;
}

.big-logo {
  height: 250px;
  width: 250px;
}

.landing-content {
  color: white;
  min-height: 200px;
  flex: 1;
  -webkit-flex: 1;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 10px;
}

.landing-header {
  color: white;
  max-width: 940px;
  position: relative;
  height: 80px;
  width: 100%;
  margin: 0 auto;
}

.button-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: inline-block;

}

.have-account {
  position: relative;
  bottom: -.5rem;
  left: .3rem;
  font-size: .7rem;
}

.sign-in {
  font-size: 1.3rem;
  display: inline-block;
  line-height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  border-radius: 3px;
  background-color: #40A397;
  cursor: pointer;
}

.sub-content {
  margin: 0 auto;
  max-width: 940px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid white;

}

.logo {
  color: white;
  position: absolute;
  display: inline-block;
  bottom: 0px;
  left: 0px;
  font-weight: 900;
  font-size: 2.5rem;
  margin-left: 20px;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 10px;
}

.create-account-form {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.main-input {
  font-weight: 700;
  font-size: 1.3rem;
  margin-right: .7rem;
  height: 50px;
  width: 300px;
}

.modal-input {
  font-weight: 400;
  font-size: 1rem;
  height: 50px;
  width: 300px;
}

.create-account-button {
  box-sizing: border-box;
  position: relative;
  top: 1px;
  height: 56px;
  padding: .5rem 2rem .5rem 2rem;
  background: #439fe0;
  color: #fff;
  font-size: 1.3rem;
}

.contact a {
  color: white;
}

.contact {
  text-align: center;
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  background-color: #3aa497;
  margin: 0 auto;
  font-weight: 400;
  padding-bottom: 10px;
}

.subtext {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1.4rem;
}

#source {
  display: inline-block;
  padding: 3px;
  margin-left: 25px;
  border-radius: 3px;
  border: 1px;
  border: 1px solid transparent;
}

#source:hover {
  border: 1px solid white;
}

.author {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: horizontal;
  font-size: 1rem;
}

.author-detail {
  flex: 1;
  padding: 5px;
  border-radius: 3px;
  border: 1px;
  margin-bottom: 15px;
  border: 1px solid transparent;
}

.namedate {
  font-size: 1rem;
}

a.author-detail:hover {
  border: 1px solid white;
}

.privacy-tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 40px;
  z-index: 2;
  font-size: 1rem;
  background-color: red;
  border-radius: 4px;
}

.privacy {
  cursor: pointer;
}

.privacy:hover ~ .privacy-tooltip {
  visibility: visible !important;
}
