// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.landing-container {
  height: 100%;
  font-size: 24px;
  margin: 0 auto;
}

.pitch {
  text-align: center;
}

.content {
  min-height: 400px;
}

.landing-header {
  max-width: 940px;
  position: relative;
  height: 80px;
  width: 100%;
  margin: auto;
}

.button-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: inline-block;

}

.have-account {
  position: relative;
  bottom: -.5rem;
  left: .3rem;
  font-size: .7rem;
}

.sign-in {
  font-size: 1.0rem;
  float: right;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  border-radius: 3px;
  background-color: #40A397;
  cursor: pointer;
}

.sub-content {
  width: 100%;
  height: 250px;
  background: rgba(0,0,0,.1);
  padding: 0;
}

.logo {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  left: 0px;
  font-size: 40px;
  margin-left: 20px;
}

.create-account-form {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.main-input {
  font-weight: 700;
  font-size: 1.3rem;
  margin-right: .7rem;
  height: 50px;
  width: 300px;
}

.create-account-button {
  position: relative;
  bottom: 2px;
  height: 55px;
  padding: .5rem 2rem .75rem 1rem;
  background: #439fe0;
  color: #fff;
  font-size: 1.3rem;
}
