// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


.background-image {
  position: fixed;
  // left: 0;
  // right: 0;
  z-index: -10000;
  width: 100%;
  height: 100%;
  background-image: url('http://res.cloudinary.com/slickapp-io/image/upload/v1434501473/startup-594091_1280_yqkzvd.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
}


.landing-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-size: 24px;
  margin: 0 auto;
  font-weight: 600;
}

.pitch {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
}

.pitch-context {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 10px;
}

.pitch-sub {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 1px 10px;
}

.big-logo {
  height: 250px;
  width: 250px;
}

.landing-content {
  color: white;
  min-height: 200px;
  flex: 1;
  -webkit-flex: 1;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 10px;
}

.landing-header {
  color: white;
  max-width: 940px;
  position: relative;
  height: 80px;
  width: 100%;
  margin: 0 auto;
}

.button-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: inline-block;

}

.have-account {
  position: relative;
  bottom: -.5rem;
  left: .3rem;
  font-size: .7rem;
}

.sign-in {
  font-size: 1.0rem;
  float: right;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  border-radius: 3px;
  background-color: #40A397;
  cursor: pointer;
}

.sub-content {
  width: 100%;
  height: 250px;
  background: rgba(0,0,0,.2);
  padding: 0;
}

.logo {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  left: 0px;
  font-weight: 900;
  font-size: 2.5rem;
  margin-left: 20px;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 10px;
}

.create-account-form {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.main-input {
  font-weight: 700;
  font-size: 1.3rem;
  margin-right: .7rem;
  height: 50px;
  width: 300px;
}

.create-account-button {
  position: relative;
  bottom: 2px;
  height: 55px;
  padding: .5rem 2rem .75rem 1rem;
  background: #439fe0;
  color: #fff;
  font-size: 1.3rem;
}

.contact {
  text-align: center;
  position: relative;
  color: white;
  width: 100%;
  background-color: #3aa497;
  margin: 0 auto;
  height: 100px;
  font-weight: 300;
  padding-bottom: 10px;
}

.contact .email {
  padding-top: 10px;
}

.name {
}

.local {
}
